.input {
  width: 100%;
  padding: calc(12.5px * var(--size-ratio)) calc(10.5px * var(--size-ratio)) calc(10.5px * var(--size-ratio)) calc(13.5px * var(--size-ratio));
  border-radius: calc(12px * var(--size-ratio));
  border: calc(2.5px * var(--size-ratio)) solid #0B4F38;
  outline: none;
  background-color: #FFFFFF;
  font-family: 'AzbukaVkusa', sans-serif;
  color: #0B4F38;
  font-size: calc(20px * var(--size-ratio));
  font-weight: 500;
  line-height: 1.2;

  &::placeholder {
    color: #0B4F3833;
    font-weight: 300;
  }
}
