.boardCell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(35px * var(--size-ratio));
  height: calc(35px * var(--size-ratio));
  border: calc(1.2px * var(--size-ratio)) solid #0B4F38;
  border-radius: calc(8px * var(--size-ratio));
  background-color: #FFF2C4;
}

.available {
  cursor: pointer;
}

.withChar {
  background-color: #DAFFC2;
  transition: background-color 200ms;
}

.confirmed {
  background-color: #6DB63D;
  transition: background-color 200ms;
}

.selected {
  border: calc(2.5px * var(--size-ratio)) solid #0B4F38;
  background-color: #DAFFC2;
  transition: background-color 200ms;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    background-color: #DAFFC2;
    animation: scale 300ms both;
  }
}

@keyframes scale {
  0% {
    background-color: #6DB63D;
    width: calc(12px * var(--size-ratio));
    height: calc(12px * var(--size-ratio));
  }
  100% {
    background-color: #DAFFC2;
    width: calc(30px * var(--size-ratio));
    height: calc(30px * var(--size-ratio));
  }
}
