$animation-duration: 400ms;
$animation-name: steps-switch;

:export {
  animationDuration: $animation-duration;
  animationName: $animation-name;
}

.wrapper {
  position: relative;
  height: 100%;
}

.skipButton {
  position: absolute;
  top: calc(20px * var(--size-ratio));
  left: calc(22px * var(--size-ratio));
  z-index: 3;
}

.steps {
  position: relative;
  height: 100%;
}

:global(.#{$animation-name}-enter) {
  &.steps {
    opacity: 0;
  }
}

:global(.#{$animation-name}-enter-active) {
  &.steps {
    opacity: 1;
    transition: opacity $animation-duration;
  }
}

:global(.#{$animation-name}-exit) {
  &.steps {
    opacity: 1;
  }
}

:global(.#{$animation-name}-exit-active) {
  &.steps {
    opacity: 0;
    transition: opacity $animation-duration;
  }
}