.text {
  font-family: 'AzbukaVkusa', sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: calc(var(--font-size) * var(--size-ratio));
  font-weight: var(--font-weight);
  color: var(--color);
  text-align: var(--text-align);
  white-space: var(--wrap);
}
