.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: calc(90px * var(--size-ratio)) calc(20px * var(--size-ratio)) calc(20px * var(--size-ratio));
}

.backButton {
  position: absolute;
  top: calc(17px * var(--size-ratio));
  right: calc(32px * var(--size-ratio));
  z-index: 3;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(13px * var(--size-ratio));
}

.board {
  margin-top: calc(18px * var(--size-ratio));
}

.buttons {
  margin-top: calc(33px * var(--size-ratio));
}

.nextButton {
  margin-left: calc(120px * var(--size-ratio));
}

.prevButtonIcon {
  width: calc(46px * var(--size-ratio));
  height: calc(16px * var(--size-ratio));
  transform: rotate(-180deg);
}

.nextButtonIcon {
  width: calc(46px * var(--size-ratio));
  height: calc(16px * var(--size-ratio));
}
