.wrapper {
  display: flex;
  align-items: baseline;
  border-radius: calc(8px * var(--size-ratio));
  border: calc(1px * var(--size-ratio)) solid #0B4F38;
  background-color: #FAEFCD;
  padding: calc(2px * var(--size-ratio)) calc(8.5px * var(--size-ratio));
}

.fill {
  background-color: #6DB63D;
  transition: background-color 200ms;
}

.amounts {
  margin-left: calc(4px * var(--size-ratio));
}