.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(16px * var(--size-ratio));
}

.word {
  text-transform: uppercase;
}

.description {
  margin-top: calc(8px * var(--size-ratio));
}

.button {
  margin-top: calc(21px * var(--size-ratio));
}