$success-text-animation-duration: 400ms;
$success-text-animation-name: success-text;
$training-animation-duration: 400ms;
$training-animation-name: success-text;

:export {
  successTextAnimationDuration: $success-text-animation-duration;
  successTextAnimationName: $success-text-animation-name;
  trainingAnimationDuration: $training-animation-duration;
  trainingAnimationName: $training-animation-name;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(20px * var(--size-ratio)) calc(44px * var(--size-ratio));
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: calc(150px * var(--size-ratio));
  height: calc(21px * var(--size-ratio));
}

.boardNumber {
  margin-left: calc(16.5px * var(--size-ratio));
}

.helpButton {
  margin-left: calc(15px * var(--size-ratio));
  border-radius: 50%;
}

.progresses {
  display: flex;
  align-items: center;
  margin-top: calc(36.42px * var(--size-ratio));
}

.progress {
  width: calc(132px * var(--size-ratio));

  & + & {
    margin-left: calc(16px * var(--size-ratio));
  }
}

.successTextWrapper {
  position: relative;
}

.successText {
  position: absolute;
  top: calc(9px * var(--size-ratio));
  left: 50%;
  transform: translateX(-50%);
  text-transform: lowercase;
}

.board {
  margin-top: calc(33px * var(--size-ratio));
}

.chars {
  margin-top: calc(19px * var(--size-ratio));
}

.actions {
  display: flex;
  align-items: center;
  margin-top: calc(19px * var(--size-ratio));
}

.actionsGroup {
  display: flex;
  align-items: center;

  & + & {
    margin-left: calc(11.5px * var(--size-ratio));
  }
}

.action {
  & + & {
    margin-left: calc(11.5px * var(--size-ratio));
  }
}

:global(.#{$success-text-animation-name}-enter) {
  &.successText {
    opacity: 0;
    transform: translate(-50%, 20%);
  }
}

:global(.#{$success-text-animation-name}-enter-active) {
  &.successText {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: opacity $success-text-animation-duration, transform $success-text-animation-duration;
  }
}

:global(.#{$success-text-animation-name}-exit) {
  &.successText {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

:global(.#{$success-text-animation-name}-exit-active) {
  &.successText {
    opacity: 0;
    transform: translate(-50%, -20%);
    transition: opacity $success-text-animation-duration, transform $success-text-animation-duration;
  }
}

:global(.#{$training-animation-name}-enter) {
  &.training, &.wrapper {
    opacity: 0;
  }
}

:global(.#{$training-animation-name}-enter-active) {
  &.training, &.wrapper {
    opacity: 1;
    transition: opacity $training-animation-duration;
  }
}

:global(.#{$training-animation-name}-exit) {
  &.training, &.wrapper {
    opacity: 1;
  }
}

:global(.#{$training-animation-name}-exit-active) {
  &.training, &.wrapper {
    opacity: 0;
    transition: opacity $training-animation-duration;
  }
}
