$switch-animation-duration: 300ms;
$switch-animation-name: switch;

:export {
  switchAnimationDuration: $switch-animation-duration;
  switchAnimationName: $switch-animation-name;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(30px * var(--size-ratio)) calc(28px * var(--size-ratio));
}

.phoneWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(10px * var(--size-ratio));
}

.phoneInput {
  margin-top: calc(18px * var(--size-ratio));
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 calc(16px * var(--size-ratio));
}

.phoneCheckbox {
  margin-top: calc(10px * var(--size-ratio));
}

.phoneCheckboxText {
  line-height: calc(15.4px * var(--size-ratio));
}

.phoneCheckboxLink {
  color: inherit;
}

.sendPhoneButton {
  margin-top: calc(14px * var(--size-ratio));
}

.findJobWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(28px * var(--size-ratio));
}

.findJobButton {
  margin-top: calc(10px * var(--size-ratio));
}

:global(.#{$switch-animation-name}-enter) {
  &.sendPhoneButtonContent {
    opacity: 0;
  }
}

:global(.#{$switch-animation-name}-enter-active) {
  &.sendPhoneButtonContent {
    opacity: 1;
    transition: opacity $switch-animation-duration;
  }
}

:global(.#{$switch-animation-name}-exit) {
  &.sendPhoneButtonContent {
    opacity: 1;
  }
}

:global(.#{$switch-animation-name}-exit-active) {
  &.sendPhoneButtonContent {
    opacity: 0;
    transition: opacity $switch-animation-duration;
  }
}