.wrapper {
  display: flex;
  align-items: center;
  border: calc(1px * var(--size-ratio)) solid #0B4F38;
  border-radius: calc(12px * var(--size-ratio));
  padding: calc(12px * var(--size-ratio)) calc(11px * var(--size-ratio));
  background-color: #FFF2C4;
}

.boardChars {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(6, calc(32.79px * var(--size-ratio)));
  grid-template-rows: repeat(2, calc(32.79px * var(--size-ratio)));
  gap: calc(12px * var(--size-ratio)) calc(6px * var(--size-ratio));
  margin-left: calc(13px * var(--size-ratio));
}

.boardChar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: calc(1px * var(--size-ratio)) solid #0B4F38;
  border-radius: calc(8px * var(--size-ratio));
  background-color: #FFE3A6;
  cursor: pointer;
}

.empty {
  opacity: 0.5;
}

.refreshButtonIcon {
  width: calc(18.33px * var(--size-ratio));
  height: calc(17.45px * var(--size-ratio));
}