.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(34px * var(--size-ratio)) calc(12px * var(--size-ratio)) calc(16px * var(--size-ratio));
}

.closeButtonWrapper {
  display: flex;
  position: absolute;
  top: calc(12px * var(--size-ratio));
  right: calc(16px * var(--size-ratio));
  width: calc(14px * var(--size-ratio));
  height: calc(14px * var(--size-ratio));
  cursor: pointer;
}

.closeButton {
  width: 100%;
  height: 100%;
}

.imageWrapper {
  display: flex;
  margin-top: calc(8px * var(--size-ratio));
  width: calc(var(--width) * var(--size-ratio));
  height: calc(var(--height) * var(--size-ratio));
}

.image {
  width: 100%;
  height: 100%;
}