.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: calc(90px * var(--size-ratio)) calc(20px * var(--size-ratio)) calc(20px * var(--size-ratio));
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(31px * var(--size-ratio));
}

.nextButton {
  margin-top: calc(55px * var(--size-ratio));
}
