.clearButton {
  background-color: transparent;
}

.clearButtonInner {
  position: relative;
}

.clearButtonInnerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.clearButtonInnerSizer {
  width: 20%;
}
